<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="awareTestBean" class="cn.abridge.springframework.test.bean.AwareTestBean"/>


    <bean id="userDao" class="cn.abridge.springframework.test.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="cn.abridge.springframework.test.bean.UserService" init-method="initDataMethod" destroy-method="destroyDataMethod">
        <property name="id" value="1"/>
        <property name="userDao" ref="userDao"/>
        <property name="address" value="浙江杭州"/>
        <property name="tel" value="86-0571"/>
    </bean>
</beans>